In [1]:
# Setup matplotlib to plot inline (within the notebook)
%matplotlib inline
# Import the pyplot module of Matplotlib as plt
import matplotlib.pyplot as plt
# Import pandas under the abbreviation 'pd'
import pandas as pd
# Import NumPy under the abbreviation 'np'
import numpy as np

In [2]:
date_pm10_centar= pd.DataFrame()
for y in [2015,2016,2017,2018,2019,2020]:
    for m in [1,2,3,4,5,6,7,8,9,10,11,12]:
        try:
            data=pd.read_csv('centar_pm10/'+str(m)+'.'+str(y)+'.csv')
            data=data[1:]
            #print(data)
            date_pm10_centar=date_pm10_centar.append(data)
            #print(date_pm10_centar)
        except:
            break

date_pm10_centar.reset_index(inplace=True)

In [3]:
date_pm10_centar

      index                 sep= Unnamed: 1
0         1   2015-01-1 00:00:00    38.8584
1         2   2015-01-2 00:00:00    233.634
2         3   2015-01-3 00:00:00    380.284
3         4   2015-01-4 00:00:00    221.864
4         5   2015-01-5 00:00:00    31.6266
...     ...                  ...        ...
1881     25  2020-02-25 00:00:00    50.3157
1882     26  2020-02-26 00:00:00    46.5847
1883     27  2020-02-27 00:00:00    21.8519
1884     28  2020-02-28 00:00:00    26.1332
1885     29  2020-02-29 00:00:00    30.2219

[1886 rows x 3 columns]

In [4]:
date_pm10_centar['sep=']=date_pm10_centar['sep='].apply(lambda x : x.replace(' 00:00:00','').replace('-',''))
date_pm10_centar

      index      sep= Unnamed: 1
0         1   2015011    38.8584
1         2   2015012    233.634
2         3   2015013    380.284
3         4   2015014    221.864
4         5   2015015    31.6266
...     ...       ...        ...
1881     25  20200225    50.3157
1882     26  20200226    46.5847
1883     27  20200227    21.8519
1884     28  20200228    26.1332
1885     29  20200229    30.2219

[1886 rows x 3 columns]

In [5]:
date_pm10_centar=date_pm10_centar.iloc[:,1:]

In [6]:
date_pm10_centar

          sep= Unnamed: 1
0      2015011    38.8584
1      2015012    233.634
2      2015013    380.284
3      2015014    221.864
4      2015015    31.6266
...        ...        ...
1881  20200225    50.3157
1882  20200226    46.5847
1883  20200227    21.8519
1884  20200228    26.1332
1885  20200229    30.2219

[1886 rows x 2 columns]

In [7]:
data_weather_centar=pd.read_csv('skopje_centar_1.2015_2.2020.csv')

In [8]:
data_weather_centar

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,135880,99999,20150729,84.5,8,60.3,8,1006.5,8,973.2,...,6.1,7,7.8,999.9,99.9,68.0,0.00I,999.9,0,NaN
1,135880,99999,20150730,86.1,8,59.5,8,1006.4,8,973.2,...,5.8,8,9.7,999.9,103.1,72.0,0.00I,999.9,0,NaN
2,135880,99999,20150731,80.0,8,60.5,8,1009.7,8,976.0,...,7.0,8,9.7,999.9,95.0,72.5*,0.00E,999.9,0,NaN
3,135880,99999,20150801,80.3,7,60.3,7,1014.1,7,980.0,...,5.3,7,7.8,999.9,93.6,66.0*,0.00E,999.9,0,NaN
4,135880,99999,20150802,84.9,6,65.0,6,1014.3,6,980.8,...,7.8,6,19.4,999.9,95.9*,71.1*,0.00E,999.9,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,135880,99999,20200225,50.2,4,31.1,4,1012.7,4,979.2,...,3.9,4,5.8,999.9,60.8,32.2,0.00G,999.9,0,NaN
1643,135880,99999,20200226,54.9,5,35.7,5,1003.3,5,967.9,...,3.5,5,5.8,999.9,66.4,36.9,0.00G,999.9,0,NaN
1644,135880,99999,20200227,44.0,4,30.2,4,1007.9,4,971.8,...,11.7,4,21.4,999.9,61.2,40.1*,0.00E,999.9,0,NaN
1645,135880,99999,20200228,39.5,5,29.9,5,1012.0,5,975.2,...,3.5,5,7.8,999.9,49.1,30.2,0.00G,999.9,0,NaN
1646,135880,99999,20200229,43.8,4,20.1,4,1021.5,4,984.7,...,4.9,4,7.8,999.9,55.2,34.7,0.00G,999.9,0,NaN

In [9]:
data_weather_centar.drop('STN---',axis=1,inplace=True)

In [10]:
#data_weather_centar.drop('WBAN',axis=1,inplace=True)
data_weather_centar=data_weather_centar.iloc[:,1:]

In [11]:
data_weather_centar.columns

Index([' YEARMODA', '   TEMP', '  ', '   DEWP', '  .1', '  SLP  ', '  .2',
       '  STP  ', '  .3', ' VISIB', '  .4', '  WDSP', '  .5', ' MXSPD',
       '  GUST', '   MAX  ', '  MIN  ', 'PRCP  ', 'SNDP ', ' FRSHTT',
       'Unnamed: 22'],
      dtype='object')

In [12]:
data_weather_centar=data_weather_centar.iloc[:,:-1]

In [13]:
data_weather_centar.isnull().sum()

 YEARMODA    0
   TEMP      0
             0
   DEWP      0
  .1         0
  SLP        0
  .2         0
  STP        0
  .3         0
 VISIB       0
  .4         0
  WDSP       0
  .5         0
 MXSPD       0
  GUST       0
   MAX       0
  MIN        0
PRCP         0
SNDP         0
 FRSHTT      0
dtype: int64

In [14]:
date_pm10_centar.isnull().sum()

sep=            0
Unnamed: 1    184
dtype: int64

In [15]:
date_pm10_centar=date_pm10_centar.dropna()

In [16]:
date_pm10_centar=date_pm10_centar.rename(columns={'sep=':'YEARMODA','Unnamed: 1':'vall'})
date_pm10_centar['YEARMODA']=date_pm10_centar['YEARMODA'].astype(str).astype(int)
date_pm10_centar.head()

   YEARMODA     vall
0   2015011  38.8584
1   2015012  233.634
2   2015013  380.284
3   2015014  221.864
4   2015015  31.6266

In [17]:
data_weather_centar=data_weather_centar.rename(columns={' YEARMODA':'YEARMODA'})
data_weather_centar.head()

,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,.3,VISIB,.4,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
0,20150729,84.5,8,60.3,8,1006.5,8,973.2,8,6.2,8,6.1,7,7.8,999.9,99.9,68.0,0.00I,999.9,0
1,20150730,86.1,8,59.5,8,1006.4,8,973.2,8,6.2,8,5.8,8,9.7,999.9,103.1,72.0,0.00I,999.9,0
2,20150731,80.0,8,60.5,8,1009.7,8,976.0,8,6.2,8,7.0,8,9.7,999.9,95.0,72.5*,0.00E,999.9,0
3,20150801,80.3,7,60.3,7,1014.1,7,980.0,7,8.0,7,5.3,7,7.8,999.9,93.6,66.0*,0.00E,999.9,0
4,20150802,84.9,6,65.0,6,1014.3,6,980.8,6,8.3,6,7.8,6,19.4,999.9,95.9*,71.1*,0.00E,999.9,0

In [18]:
main_data=pd.merge(data_weather_centar,date_pm10_centar,on=["YEARMODA"])

In [19]:
main_data

,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,.3,VISIB,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,vall
0,20150729,84.5,8,60.3,8,1006.5,8,973.2,8,6.2,...,6.1,7,7.8,999.9,99.9,68.0,0.00I,999.9,0,45.2322
1,20150730,86.1,8,59.5,8,1006.4,8,973.2,8,6.2,...,5.8,8,9.7,999.9,103.1,72.0,0.00I,999.9,0,37.7792
2,20150731,80.0,8,60.5,8,1009.7,8,976.0,8,6.2,...,7.0,8,9.7,999.9,95.0,72.5*,0.00E,999.9,0,32.3904
3,20150810,79.4,8,50.8,8,1012.2,8,978.3,8,7.8,...,3.9,5,5.8,999.9,94.3*,64.0,0.00F,999.9,0,42.3733
4,20150811,81.1,7,52.5,7,1011.0,7,977.3,7,6.2,...,7.2,7,13.6,999.9,95.4,66.6,0.00F,999.9,0,50.1964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,20200225,50.2,4,31.1,4,1012.7,4,979.2,4,6.2,...,3.9,4,5.8,999.9,60.8,32.2,0.00G,999.9,0,50.3157
1044,20200226,54.9,5,35.7,5,1003.3,5,967.9,5,4.7,...,3.5,5,5.8,999.9,66.4,36.9,0.00G,999.9,0,46.5847
1045,20200227,44.0,4,30.2,4,1007.9,4,971.8,4,9.3,...,11.7,4,21.4,999.9,61.2,40.1*,0.00E,999.9,0,21.8519
1046,20200228,39.5,5,29.9,5,1012.0,5,975.2,5,5.5,...,3.5,5,7.8,999.9,49.1,30.2,0.00G,999.9,0,26.1332
1047,20200229,43.8,4,20.1,4,1021.5,4,984.7,4,6.2,...,4.9,4,7.8,999.9,55.2,34.7,0.00G,999.9,0,30.2219

In [20]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048 entries, 0 to 1047
Data columns (total 21 columns):
YEARMODA    1048 non-null int64
   TEMP     1048 non-null float64
            1048 non-null int64
   DEWP     1048 non-null float64
  .1        1048 non-null int64
  SLP       1048 non-null float64
  .2        1048 non-null int64
  STP       1048 non-null float64
  .3        1048 non-null int64
 VISIB      1048 non-null float64
  .4        1048 non-null int64
  WDSP      1048 non-null float64
  .5        1048 non-null int64
 MXSPD      1048 non-null float64
  GUST      1048 non-null float64
   MAX      1048 non-null object
  MIN       1048 non-null object
PRCP        1048 non-null object
SNDP        1048 non-null float64
 FRSHTT     1048 non-null int64
vall        1048 non-null object
dtypes: float64(9), int64(8), object(4)
memory usage: 180.1+ KB

In [21]:
main_data.columns

Index(['YEARMODA', '   TEMP', '  ', '   DEWP', '  .1', '  SLP  ', '  .2',
       '  STP  ', '  .3', ' VISIB', '  .4', '  WDSP', '  .5', ' MXSPD',
       '  GUST', '   MAX  ', '  MIN  ', 'PRCP  ', 'SNDP ', ' FRSHTT', 'vall'],
      dtype='object')

In [22]:
#main_data['   MAX']=main_data['   MAX'].astype(str).astype(float)
main_data=main_data.rename(columns={'   MAX':'MAX','   TEMP':'TEMP','   DEWP':'DEWP','  .1':'.1','  SLP  ':'SLP','  .2':'.2','  STP  ':'STP','  .3':'.3',' VISIB':'VISIB','  .4':'.4','  WDSP':'WDSP','  .5':'.5',' MXSPD':'MXSPD','  GUST':'GUST','   MAX  ':'MAX','  MIN  ':'MIN','PRCP  ':'PRCP','SNDP ':'SNDP',' FRSHTT':'FRSHTT'})
main_data.head()

,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,.3,VISIB,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,vall
0,20150729,84.5,8,60.3,8,1006.5,8,973.2,8,6.2,...,6.1,7,7.8,999.9,99.9,68.0,0.00I,999.9,0,45.2322
1,20150730,86.1,8,59.5,8,1006.4,8,973.2,8,6.2,...,5.8,8,9.7,999.9,103.1,72.0,0.00I,999.9,0,37.7792
2,20150731,80.0,8,60.5,8,1009.7,8,976.0,8,6.2,...,7.0,8,9.7,999.9,95.0,72.5*,0.00E,999.9,0,32.3904
3,20150810,79.4,8,50.8,8,1012.2,8,978.3,8,7.8,...,3.9,5,5.8,999.9,94.3*,64.0,0.00F,999.9,0,42.3733
4,20150811,81.1,7,52.5,7,1011.0,7,977.3,7,6.2,...,7.2,7,13.6,999.9,95.4,66.6,0.00F,999.9,0,50.1964

In [23]:
main_data['MAX']=main_data['MAX'].apply(lambda x : float(x.replace('*','').replace(' ','')))

In [24]:
main_data['MIN']=main_data['MIN'].apply(lambda x : float(x.replace('*','').replace(' ','')))

In [25]:
main_data['vall']=main_data['vall'].apply(lambda x : float(x.replace('*','').replace(' ','')))

In [26]:
main_data['PRCP']=main_data['PRCP'].apply(lambda x : float(x[:-1].replace(' ','')))

In [27]:
# main_data['day']=np.nan
# main_data=main_data[['YEARMODA', 'TEMP', '  ', 'DEWP', '.1', 'SLP', '.2', 'STP', '.3',
#        'VISIB', '.4', 'WDSP', '.5', 'MXSPD', 'GUST', 'MAX', 'MIN', 'PRCP',
#        'SNDP', 'FRSHTT', 'day', 'vall']]
# import datetime
# #import datetime
# #t=20200315
# #datetime.datetime(int(str(t)[:4]), int(str(t)[4:6]), int(str(t)[6:8])).weekday()
# # 5 i 6 weekend
# main_data=main_data.assign(day=[1 if datetime.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8])).weekday() in [5,6] else 0 for x in main_data['YEARMODA']]).tail(10)

In [28]:
main_data = main_data.sample(frac=1).reset_index(drop=True)

In [29]:
main_data

,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,.3,VISIB,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,vall
0,20171229,42.8,7,36.2,7,1006.7,7,970.5,7,6.2,...,5.8,7,9.7,999.9,48.6,37.6,0.00,999.9,0,35.8927
1,20161015,57.2,8,49.9,8,1022.5,8,986.8,8,5.7,...,4.2,7,5.8,999.9,68.9,45.9,0.00,999.9,0,70.2365
2,20170510,56.8,8,44.2,8,1012.9,7,977.6,8,6.2,...,6.8,8,11.7,999.9,64.4,51.6,0.01,999.9,0,21.5894
3,20160130,44.2,8,35.0,8,1029.9,8,993.0,8,3.1,...,5.6,8,9.7,999.9,57.9,34.0,0.00,999.9,0,203.2590
4,20191216,37.9,6,37.1,5,1027.7,6,990.4,6,2.1,...,2.7,5,3.9,999.9,47.1,34.0,0.00,999.9,100000,108.7710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,20160810,74.7,8,61.5,8,1011.3,8,976.9,8,6.2,...,3.9,6,5.8,999.9,89.8,62.6,0.00,999.9,0,44.4358
1044,20151016,58.8,8,55.1,8,1019.6,8,984.2,8,4.8,...,7.2,7,9.7,999.9,61.7,57.2,0.00,999.9,10000,36.6869
1045,20170628,81.9,8,60.1,8,1008.2,8,974.6,8,6.2,...,3.6,8,5.8,999.9,97.7,67.1,0.00,999.9,0,36.5697
1046,20190828,79.7,8,52.7,8,1017.2,8,983.1,8,6.2,...,3.9,8,5.8,999.9,96.4,64.4,0.00,999.9,0,32.8845
1047,20170115,33.2,8,24.5,8,1017.2,8,980.1,8,5.3,...,3.9,8,5.8,999.9,42.3,27.0,0.01,0.8,0,86.3429

In [30]:
main_data=main_data.drop('YEARMODA',axis=1)
X=main_data.drop('vall',axis=1)
y=main_data['vall']

In [31]:
X.head()

,TEMP,,DEWP,.1,SLP,.2,STP,.3,VISIB,.4,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
0,42.8,7,36.2,7,1006.7,7,970.5,7,6.2,7,5.8,7,9.7,999.9,48.6,37.6,0.00,999.9,0
1,57.2,8,49.9,8,1022.5,8,986.8,8,5.7,8,4.2,7,5.8,999.9,68.9,45.9,0.00,999.9,0
2,56.8,8,44.2,8,1012.9,7,977.6,8,6.2,8,6.8,8,11.7,999.9,64.4,51.6,0.01,999.9,0
3,44.2,8,35.0,8,1029.9,8,993.0,8,3.1,8,5.6,8,9.7,999.9,57.9,34.0,0.00,999.9,0
4,37.9,6,37.1,5,1027.7,6,990.4,6,2.1,6,2.7,5,3.9,999.9,47.1,34.0,0.00,999.9,100000

In [32]:
y.head()

0     35.8927
1     70.2365
2     21.5894
3    203.2590
4    108.7710
Name: vall, dtype: float64

<h1>DATA IS READY</h1>
<h2>Random Forest Regressor</h2>

In [33]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)  # Don't cheat - fit only on training data
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)  # apply same transformation to test data

<h3>You may skip this</h3>

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

grid = {"n_estimators": [10, 100, 200, 500, 1000, 1200],
        "max_depth": [None, 5, 10, 20, 30],
        "max_features": ["auto", "sqrt"],
        "min_samples_split": [2, 4, 6],
        "min_samples_leaf": [1, 2, 4]}
clf = RandomForestRegressor(n_jobs=-1)
rs_clf = RandomizedSearchCV(estimator=clf,
                            param_distributions=grid, 
                            n_iter=539, # number of models to try
                            cv=5,
                            verbose=2)

# Fit the RandomizedSearchCV version of clf
rs_clf.fit(X_train, y_train);
rs_clf.best_params_

In [35]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(n_estimators=1200,min_samples_split=2,min_samples_leaf=2,max_features='sqrt',max_depth=20)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.7153799659736635

<h2>Gradiant Boosting Regressor</h2>

<h3>You may skip this</h3>

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

grid = {"n_estimators": [10, 100, 200, 500, 1000, 1200],
        "learning_rate": [0.1, 0.2, 0.3, 0.4, 0.5],
        "max_depth": [1,2,3,4,5],
        "loss": ['ls', 'lad', 'huber', 'quantile'],
        }
gbr = GradientBoostingRegressor()
rs_clf = RandomizedSearchCV(estimator=gbr,
                            param_distributions=grid, 
                            n_iter=600, # number of models to try
                            cv=5,
                            verbose=2)
rs_clf.fit(X_train, y_train);
rs_clf.best_params_

In [36]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(n_estimators=1000,max_depth=3,loss='lad',learning_rate=0.2)
gbr.fit(X_train,y_train)
gbr.score(X_test,y_test)

0.7430848352948151

array([[-1.21917053,  0.54702409, -1.30266701, ..., -0.04667788,
         0.19599403, -0.28550603],
       [ 1.5204757 ,  0.54702409,  1.41797981, ..., -0.04667788,
         0.19599403, -0.28550603],
       [-1.1385927 ,  0.54702409, -0.72084194, ..., -0.04667788,
         0.19599403,  5.38091952],
       ...,
       [-0.84727285, -1.84050813, -0.67986834, ..., -0.04667788,
         0.19599403, -0.28550603],
       [-0.76049673,  0.54702409, -0.08984855, ..., -0.03509823,
         0.19599403,  5.38091952],
       [ 0.83866329,  0.54702409,  0.31988742, ..., -0.04667788,
         0.19599403, -0.28550603]])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)  # Don't cheat - fit only on training data
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)  # apply same transformation to test data